
<div class="wrapper">
Happy Valentines babe! If you are feeling down, come back to this site and see a different reason why you are awesome!
</div>


<div id="fader" class="wrapper">
<p><%= @rand_valentines.compliment %> -<%= @rand_valentines.name %></p>
<p><img src=<%= @rand_valentines.image %> height=400 width=auto></p>

<h3>Add another reason!</h3>
<form action="/" method="post">
<label for="compliment">Compliment:</label>
<input type="text" name="valentine[compliment]" placeholder="Why do you think Marssy is awesome?/¿Por qué crees Marssy es impresionante?" style="width: 600px" required/>
<br>
<br>
<label for="image">Image link:</label>
<input type="text" name="valentine[image]" placeholder="Image URL/URL de la imagen" style="width: 600px" required/>
<br>
<br>
<label for="name">Your name:</label>
<input type="text" name="valentine[name]" placeholder="Your Name/Su nombre" required/>
<br>
<br>
<input type="submit" value="Add a compliment">

</div>

